/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Navbar Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

.navbar h1 {
    font-size: 2rem;
    color: var(--navbar-text);
    font-weight: bold;
    margin-right: auto;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar-right a {
    color: var(--navbar-text);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-right a:hover {
    color: var(--highlight-color);
    transform: scale(1.1);
}

#profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-bg);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#profile-icon i {
    color: var(--navbar-text);
}

#user-sidebar {
    position: absolute;
    top: 60px;
    right: 2rem;
    background-color: var(--card-bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

#user-sidebar.visible {
    display: block;
    opacity: 1;
}

#user-sidebar ul {
    list-style-type: none;
    padding: 0;
}

#user-sidebar li {
    margin-bottom: 0.5rem;
}

#user-sidebar a {
    color: var(--navbar-text);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
}

#user-sidebar a:hover {
    background-color: var(--highlight-color);
    color: var(--navbar-bg);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }

    .navbar h1 {
        margin-bottom: 1rem;
    }

    .navbar-right {
        gap: 1rem;
    }

    #user-sidebar {
        position: static;
        width: 100%;
        box-shadow: none;
        display: none;
    }
}

